<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="/">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/about">About</a></li>
        <ul style="padding:0%;padding-left: 1rem;" class="nested">
        </ul>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation">
            <a href="/Getting Started">Getting Started</a>
            <ul style="padding:0%;padding-left: 1rem;" class="nested">
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/OpenFIDO">• OpenFIDO</a></li>
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/GMLC GCP">• GMLC GCP</a></li>
            </ul>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/use-cases">Use Cases</a></li>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/Publications">Publications</a></li>
            <ul style="padding:0%;padding-left: 1rem;" class="nested">
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="/News">• News</a></li>
            </ul>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/Partnerships">Partnerships</a></li>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/Contact">Contact</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
