<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <ul style="padding:0%;padding-left: 1rem;" class="nested">
        </ul>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation">
            <a href="{{ site.baseurl }}Getting Started">Getting Started</a>
            <ul style="padding:0%;padding-left: 1rem;" class="nested">
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="{{ site.baseurl }}OpenFIDO">• OpenFIDO</a></li>
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="{{ site.baseurl }}GMLC GCP">• GMLC GCP</a></li>
            </ul>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="{{ site.baseurl }}use-cases">Use Cases</a></li>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="{{ site.baseurl }}Publications">Publications</a></li>
            <ul style="padding:0%;padding-left: 1rem;" class="nested">
                <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"> <a href="{{ site.baseurl }}News">• News</a></li>
            </ul>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}Partnerships">Partnerships</a></li>
            <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}Contact">Contact</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
